.mytooltip{
  position: absolute !important;
  padding: 10px 13px !important;
  z-index: 2 !important;
  
  color: #303030 !important;
  background-color: #f5f5b5 !important;
  border: 1px solid #DECA7E !important;
  
  font-family: sans-serif !important;
  font-size: 12px !important;
  line-height: 18px !important;
  text-align: center !important;
}
